@(users: List[User], vows: List[Vow], vowForm: Form[String])(implicit session: play.api.mvc.Session)
@import helper._

@main("Users") {
    <br/>
    @if(session.get("username").isEmpty) {} else {
        @form(routes.Application.newVow, 'class -> "form-inline") {
            <span>I vow to </span>
            <input type="text" name="text"/>
            <input class="btn" type="submit" value="Vow">

            <hr/>
        }
    }

    <ul>
    @for(u <- users) {
        <li>@u.username</li>
    }
    </ul>

    <hr/>

    <ul class="no-style">
    @for(v <- vows) {
        @defining(v.user) { user =>
            <li><a href="/@v.slug">I vow to @v.text</a>
                <div class="byline pull-right">
                    <i> by <a href="@user.profileUrl">@user.username</a></i>
                    <i> created <span class="moment">@v.createdAt</span></i>
                </div>
            </li>
            <hr/>
        }
    }
    </ul>

    <script>
        $(function () {
            $(".moment" ).each(function(k, m) {
                var time = $(m).text();
                $(m).text(moment(time).fromNow());

            });
        });
    </script>
}